body{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 100vh;
    overflow: hidden;
    background: #386361;
}
.card {
    background-color: #CEDFD9;
    width: 400px;
    min-height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 1920px;
    padding: 20px;
    overflow: auto;
    
}
  
  .card h2 {
    font-size: 24px;
    margin-bottom: 10px;
    padding: 0;
  }
  
  .button {
    padding: 10px 20px;
    width: 300px;
    border: none;
    color: #cedfd9;
    background-color: #386361;
    border-radius: 10px;
    box-shadow: inset 0 0 0 0 #EBFCFB;
    transition: all 0.6s ease-in-out;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 10px;
    background-repeat: no-repeat;
}

.button:hover{
    box-shadow: inset 300px 0 0 0 #EBFCFB;
    cursor: pointer;
    color: black;
}


#btn1{
    display: block;
}

#btn2{
    margin: 20px;
}


#quote {
    text-align: center;
    font-size: 19px;
    color: #cedfd9; 
    margin: 5px;
}

#author {
    margin: 10px;
    font-size: 17px;
    color: #CEDFD9;
}

#btn3 {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    position: absolute;
    top: 12px;
    right: 12px;
    padding: 8px 20px;
    border-radius: 10px;
    background-color: #CEDFD9;
    background-image: url(arrow.svg);
    background-repeat: no-repeat;
    background-position: center;
    font-size: 16px;
    height: 4vh;
    width: 1vh;
    border: none;
}

#btn3:hover{
    background-color: #a6c9c6;
    transition: all.35s ease-in-out;
}

#quoteContainer {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    padding: 50px;
    width: 260px;
    border: none;
    border-radius: 20px;
    background-color: #386361;
    position: relative; /* create a containing block for btn3 */
    overflow: hidden; /* Clip the button to the container */
    max-height: 1920px;
}

footer {
    position: absolute; /* added absolute position */
    bottom: 10px;
    width: 100%;
    height: 1.5rem;
    text-align: center;
    color: #CEDFD9;
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
}

footer a{
    color: #cedfd9;
    text-decoration: none;
}

footer a:hover{
    color: #94b1af;
    transition: all 0.3s ease-in-out;
}
